html,
body,
.full_screen {
	height: 100vh; /* fallback, older style, that mostly works (this line must come first) */
	height: 100dvh; /* newer, for mobile browsers with disappearing address bars (https://stackoverflow.com/a/72245072) */
	margin: 0;
	padding: 0;
}
.full_screen {
	display: flex;
	flex-flow: column nowrap;
}

.head {
	flex: 0 0 auto;
}

.content {
	flex: 1 1 auto; /* shrink:1 is necessary to cause .foot to stick to the floor, and for the overflow-scroll (below) to work as expected... */
	overflow-y: auto; /* ... causing an overflow to result in a .content-contained vertical scrollbar */
}

.foot {
	flex: 0 0 auto;
}

