/* Common style */

/* page structure */

html,
body {
	height: 100vh; /* fallback, older style, that mostly works (this line must come first) */
	height: 100dvh; /* newer, for mobile browsers with disappearing address bars (https://stackoverflow.com/a/72245072) */
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-flow: column nowrap;
}

#header_pane,
#footer_pane {
	flex: 0 0 auto;
	margin: 0 auto;
	width: 70vw;
}

#main_pane {
	flex: 1 1 auto; /* shrink:1 is necessary to cause .foot to stick to the floor, and for the overflow-scroll (below) to work as expected... */
	overflow-y: auto; /* ... causing an overflow to result in a .content-contained vertical scrollbar */
	margin: 0 auto;
	width: 70vw;
}

/* special screens */

#gray_screen {
	position: absolute;
	z-index: 2;
	opacity: 0.7;
	left: 0;
	right: 0;

	margin: 0;
	padding: 0;
	background-color: #444;
	height: 100%;
	width: 100%;
}

#dialog_screen {
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;

	height: auto; /* TODO: max-height: 80vh or something?!!! */
	min-width: 400px; /* TODO: make in terms of vw instead?!!! */
	max-width: 600px;

	margin: 2% auto auto;
	padding: 10px;
	border: 4px solid #555;
	border-radius: 10px;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: auto;
}

/* defaults / variations */

div {
	margin: 2px;
	padding: 2px;
}

div.container {
	padding: 0; /* zero-impact container (elements within space as if this container didn't contain them) */
	margin: 0;
}

span.invalid {
	color: red;
}


hr {
	clear: both; /* TODO: no longer necessary? */
	height: 1px;
	border: 0;
	background-color: black;
	margin: 4px;
	margin-right: -12px;
	padding: 0;
}

hr.top {
	height: 2px;
	background-color: #6567a8;
}

hr.gray {
	background-color: lightgray;
}


/* bordered content */

fieldset, .info, .warning, .error {
	border: 2px solid #888;
	border-radius: 7px;
}

.info, .warning, .error {
	padding: 8px;
}

.info {
	background-color: #8e8;
}
.warning {
	background-color: #0ee;
}
.error {
	background-color: #e88;
}


/* dynamics */

.show {
	display: block;
}
.hide {
	display: none;
}



/* mix-ins */

.italic {
	font-style: italic;
}

.full_width {
	width: 100%;
}

.pointered {
	cursor: pointer;
}

.center {
	margin: auto;
}

.red_bg {
	background-color: #a22;
}

.green_bg {
	background-color: #2a2;
}

.midlin {
}
.midlin th, td {
	padding-left: 0.2em;
	padding-right: 0.2em;
}


/* content edit area (invisible edit-box) */

[contenteditable="true"]:active, [contenteditable="true"]:focus
{
	border:none;
	outline:none;
}


/* ------------------------------------------------------------------------- */


.buttonbar {
	display: flex;
	flex-flow: row wrap; /* should wrap only when screen is too narrow */
}

.buttonbar button {
	min-width: 20px;
	margin: 1px 2px;
	padding: 1px 5px;
	font-size: 1em;
	border: 2px;
	border-radius: 5px;
	border-style: solid;
	color: white;
	background-color: #6567a8;
	cursor: pointer;
	box-shadow: none;
}
.buttonbar button:hover {
	background-color: #999999;
}

.buttonbar button.selected {
	background-color: #18a266;
}

.buttonbar button.unselected {
	background-color: #6567a8;
}

.buttonbar .spacer {
	flex-grow: 1;
}

.buttonbar .indent { /* kludgey "indent" */
	width: 2.3em;
}


.i {
	 width: 12px; /* YES, must do this (width and height AND set the same info inline, below, in the background: line!) */
	 height: 12px;
	 display: block;
	 filter: invert(100%);
}
.i-archive {
    background: url(ico/archive.png) center center/12px 12px no-repeat; /* https://icon-icons.com/download/87541/PNG/32/ - https://icon-icons.com/icon/download-folder/87541 dripicons (https://icon-icons.com/users/PHEoYFqoi7DZt6BnC1SoR/icon-sets/) */
}
.i-unarchive {
    background: url(ico/unarchive.png) center center/12px 12px no-repeat; /* https://icon-icons.com/download/87531/PNG/32/ - https://icon-icons.com/icon/upload-arrow/87531 dripicons (https://icon-icons.com/users/PHEoYFqoi7DZt6BnC1SoR/icon-sets/) */
}
.i-reply {
    background: url(ico/reply.png) center center/12px 12px no-repeat; /* https://icon-icons.com/download/87524/PNG/32/ */
}
.i-pin {
    background: url(ico/pin.png) center center/12px 12px no-repeat; /* https://icon-icons.com/download/259178/PNG/32/ */
}

/* ------------------------------------------------------------------------- */
/* TODO: FIX! */

.singleton_button { /* TODO: CONSOLIDATE! ALMOST SAME as .button_band button -- consolidate! */
	width: 2.3em;
	margin: 1px 2px;
	padding: 1px 5px;
	font-size: 1em;
	border: 2px;
	border-radius: 5px;
	border-style: solid;
	color: white;
	cursor: pointer;
	box-shadow: none;
}

